<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email" placeholder="Digite o seu e-mail:" required>
        </div>
        <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" id="password" placeholder="Digite a sua senha:" required>
        </div>
        <input type="submit" value="Cadastrar">
        <p>Não tem um conta? <a href="/register">Clique aqui!</a></p>
    </form>
</div>